@import 'mixins.scss';

// 清除上下边距
@mixin clear-vertical {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: {
    top: 0;
    bottom: 0;
  }
}

#body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: white;
}

// Log in & Search Bar 登录与搜索栏
#header-tool-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: $hundred;
  height: 54px;
  background-color: white;
  border-bottom:1px solid rgba(187,189,197,0.3);
  z-index: 100;
  .header-tool {
    height: inherit;
    .tool-btn {
      background: transparent;
    }
  }
  .search-bar {
    .input,input {
      height: $hundred;
      border: 1px solid transparent;
    }
    .results {
      width: 14rem;
    }
  }
}

// Button to signin site 跳转到登录页的按钮
.click-to-siginin a:hover{
  color: white;
}

// Brand 品牌展示栏
#header-brand {
  height: auto;
  margin: 2rem 30rem 0;
  .brand-des {
    color: black;
    font: 24px 'Lobster';
    letter-spacing: 1px;
  }
}

// Navigation 导航栏
#header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: $hundred;
  height: 118px;
  overflow: hidden;
  z-index: 50;
  @include clear-vertical;
  .nav-item{
    height: 120px;
    margin: 2rem;
    padding: 0;
    line-height: 120px;
    background: transparent;
    a{
      display: inline-block;
      height: 80px;
      color: rgba(black,0.4);
      font-size: 16px;
      line-height: 80px;
      letter-spacing: 5px;
      &:hover,&.active {
        color: black;
        border-bottom: 4px solid rgba(232,173,159,1.0);
        text-decoration: none;
        @include transition();
      }
    }
  }
}

// Header Divider 顶部分割线
#header-divider {
  margin-bottom: 2rem;
  font-weight: normal;
  a {
    color: rgba(black,.3);
    &:hover {
    color: rgba(black,1.0);
    text-decoration: underline;
    }
  }
}