// Login Site 登陆页
#login-wrap {
  margin-bottom: 4rem;
}

#join-container {
  margin-bottom: 4rem;
  .header.sub {
    margin-top: 1rem;
  }
}

// Login Form 登录表格
#checkout-controller.login-form,
#login.login-form,
.login-form {
  display: inline-block;
  width: 280px;
  .header .header.sub {
    margin-top: 1rem;
  }
  .form a {
    margin-left:1rem;
    color:black;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: rgba(0,0,0,.6);
    }
  }
}

// New Customer Container 新用户创建框
.new-customer {
  display: inline-block;
  width: 290px;
  .header .header.sub {
    margin-top: 1rem;
  }
  .join-us-btn {
    display:inline-block;
    width: 18rem;
    padding: 10px 20px;
    color: black;
    font-weight:bold;
    border: 2px solid black;
    background-color: white;
    text-align:center;
    &:hover,&:focus {
      color: rgba(0,0,0,.6);
      border: 2px solid rgba(0,0,0,.6);
      text-decoration:none
    }
  }
}

// Signined User Infomation 已登录用户界面
.sign-out {
  color: rgba(255,255,255,1.0);
  background-color: rgba(0,0,0,1.0);
  margin: 2rem;
  padding:5px 10px;
  cursor: pointer;
}

